<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="../style/index.css">
</head>

<body>


  <div class="nav">nav</div>
  <div class="closed">closed</div>
  <div class="main">
    <h1>Hey</h1>
    <input type="text" id="ins">
    <button id="submit">Submit</button>

    <button id="refresh_midi_devices">get devices</button>
    <button id="clear_midi_devices">clear devices</button>
    <button id="listen_midi_devices">Listen to midi device 0</button>
    <ul class="devices">
      
    </ul>
    <div class="edit_field">
      
    </div>
  </div>
</body>

</html>
<script src="../js/jquerry.js"></script>
<script src="../js/index.js"></script>
<script src="../js/rpc.js"></script>
