<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/assets/static/jquery.gridster.min.css" />
  <link rel="stylesheet" href="/assets/style/index.css">
  
</head>

<body>
  <div class="nav">
    <span class="nav_title">NetWing</span>
    <span class="nav_author">By a random LD for random LDs</span>
  </div>

  <div class="up">
    <div class="side">
      <div class="side_block">Interfaces</div>
      <div class="side_block">Links</div>
      <div class="side_block">Views</div>
      <div class="side_block">Users</div>
    </div>

    <div class="main">

      <div class="main_window main_views gridster disabled">
        main_views
      </div>

      <div class="main_window main_interfaces">
        <div class="interfaces_workplace doted">
          <div class="settings_nav">
            <span>Active interfaces</span>
            <span>+</span>
          </div>

          <!-- The place where interface instances are added -->

        </div>
        <div class="interfaces_settings doted">
          <div class="settings_nav settings_right">
            Interface settings
            <div>
              Add wanted interface
            </div>
          </div>

          <div class="settings_iterf_inst">
            <div class="add_front" id="addInterfaceGenericMIDI">
              +
            </div>
            <div class="add_back">
              Generic MIDI
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  </div>

  <div class="divider_horizontal">
    <!-- <button>Clear</button> -->
  </div>

  <div class="cli_housing">
    <div class="cli scrollbarr">
    </div>
    <div class="cli_tools">
      <button id="cli_clear">Clear</button>
      <button id="test">Autoscroll</button>
    </div>
  </div>
  
  <div class="modal disabled">
    <div class="window">
      <div class="modalNav">
        <div>Settings</div>
        <div id="closeModal" class="navBtn">[Esc]</div>
      </div>
      <div class="modalBody">
        <span>Generic MIDI</span>

        <div class="name">
          <span>Device display name</span>
          <input type="text">
        </div>


        <div class="devList">
          <div class="devicesTable">
            <div class="devicesTableTitle">Set input device</div>
            <div class="devicesTableBody" id="TableMidiIns">
              <!-- devices go in here -->

            </div>
          </div>
          <div class="devicesTable outs">
            <div class="devicesTableTitle">Set output device</div>
            <div class="devicesTableBody" id="TableMidiOuts">
              <!-- devices go in here -->

            </div>

            
          </div>
        </div>

        <div class="name disabled" id="noDeviceAlert">
          <span>Please select device first</span>
        </div>

        <div>
          <button id="RefreshDevice">
            [R]efresh
          </button>
          <button id="applyDevice">
            [A]pply
          </button>

        </div>

      </div>
    </div>
  </div>

</body>
<script src="/assets/static/jquerry.js"></script>
<script src="/assets/static/jquery.gridster.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web-socket-js/1.0.0/web_socket.js"></script>
<script src="/assets/js/index.js"></script>
<script src="/assets/js/rpc.js"></script>

</html>