<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="../style/index.css">
</head>

<body>


  <div class="nav">nav</div>
  <div class="closed">closed</div>
  <div class="main">
    <h1>hejla</h1>
    <input type="text" id="ins">
    <button id="submit">Submit</button>

    <button id="refresh_midi_devices">GET ALL THEM SEXY DEVICES MMM</button>
    <button id="clear_midi_devices">clear them...uggh</button>
    <button id="listen_midi_devices">Hey listen (pač ja to pomeni da das listener na midi device....edini midi device)</button>
    <ul class="devices">
      
    </ul>
  </div>
</body>

</html>
<script src="../js/jquerry.js"></script>
<script src="../js/index.js"></script>
<script src="../js/rpc.js"></script>
