@font-face {
  font-family: roboto;
  src: url(RobotoMono-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(RobotoMono-Bold.ttf);
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  font-family: roboto;
}


.nav{
  font-family: roboto-bold;
  background-color: #282f44;
  padding: 10px 50px;
  color: #f5d061;
  display: flex;
  flex-direction: column;
  flex:1;
}

.nav_title{
  font-size: 3em;
}



.up {
  background-color: #282f44;
  flex: 10;
  display: flex;
  flex-direction: row;
}




.side{
  display: flex;
  flex-direction: column;
}
.side_block{
  padding: 10px 20px;
  margin: 10px 20px;
  background-color: #f5d061;
  box-sizing: border-box;
  border-right: solid 30px #282f44;
  border-left: solid 0px #f5d061;
  cursor: pointer;
  transition: 0.1s;
}
.side_block:first-child{
  margin-top: 25px;
}
.block_active{
  border-left: solid 30px #f5d061;
  border-right: solid 0px #282f44;
}



.main {
  flex: 10;
  margin-right: 50px;
  margin-bottom: 30px;
  margin-top: 15px;
  background: #282f44;
  background-image: radial-gradient(rgba(219, 189, 99, 0.8) 5%, rgba(255, 255, 0, 0) 0);
  background-size: 30px 30px;
  background-position: 16px 16px;
}
.main_window{
  margin: 0;
  width: 100%;
  height: 100%;
}


.widget{
  background-color: #f5d061;
}




.divider_horizontal {
  height: 7px;
  background-color: #e6af2e;
}




.cli {
  background-color: #282f44;
  flex: 2;
  overflow-y: scroll;
  font-size: 1.1em;
  color: white;
}

.cli_line {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.err_ok{
  border-left: solid 10px #61f57a;
}
.err_warn{
  border-left: solid 10px #f5d061;
}
.err_err{
  border-left: solid 10px #f56161;
}

.cli_body {
  opacity: 0.70;
  
}

.cli_type {
  margin-right: 20px;
  
}
.cli_time_stamp {
 margin:0 15px;
 opacity: 0.6;
}



